<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	.active {
    background-color: #4CAF50;
}
	div {
    border-radius: 5px;
    background-color: violet;
    padding: 40px;
    text-align: center;
}


	</style>
	<title>iris</title>
</head>
<body>
	<div class="showcase container purplr lighten-3">
	<div class="row">
		<div class="col 12 m10 offset-ml center">
			<h1>iris preictor</h1>
			<p>ML</p>
			<a href="{{url_for('index')}}" >BACK</a>

		</div>
	</div>
</div>
<pre class="active">
	{{ iris_view}}
</pre>




</body>
</html>